body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

#fileinput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ingredientbox {
	padding: 0 !important;
	margin: 0.5em;
}

.ingredientbox img {
	width: 100%;
}

#addinput {
	width: 15em;
	display: inline-block;
	box-sizing: border-box;
}

.logitem img {
	max-height: 30em;
}

@media (max-width:650px) {

	#continuebtn, #clearbtn, #uploadbtn {
		width: 100%;
	}

	#addinput {
		width: 70%;
	}

	#addbtn {
		width: 30%;
	}

}

#categories span {
	cursor: pointer;
}