#fileinput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.ingredientbox {
	padding: 0 !important;
	margin: 0.5em;
}

.ingredientbox img {
	width: 100%;
}

#addinput {
	width: 15em;
	display: inline-block;
	box-sizing: border-box;
}

.logitem img {
	max-height: 30em;
}