{% extends "base.html" %}

{% block content %}

<h1>{{ recipe.title }}</h1>

{% if recipe.description is not none %}<i>{{ recipe.description }}</i><br>{% endif %}
Categories: {% for c in recipe.categories %}{{ c }}, {% endfor %}<br>
Rating: {{ recipe.rating }}
{% if recipe.calories is not none %}, calories: {{ recipe.calories }}{% endif %}
{% if recipe.fat is not none %}, fat: {{ recipe.fat }}{% endif %}
{% if recipe.sodium is not none %}, sodium: {{ recipe.sodium }}{% endif %}
{% if recipe.protein is not none %}, protein: {{ recipe.protein }}{% endif %}
.

<h2>Ingredients</h2>
<ul>
{% for i in recipe.ingredients %}
    <li>{{ i }}</li>
{% endfor %}
</ul>

<h2>Directions</h2>
<ol>
{% for i in recipe.directions %}
    <li>{{ i }}</li>
{% endfor %}
</ol>

<script>
$(document).ready(function(){

    $("#mySidebar a").click(function(){
        $("#mySidebar").hide();
    });
    $("#mySidebarOpen").click(function(){
        $("#mySidebar").show();
    });
    $("#backButton").click(function(){
        location.href="/recipes";
    });
});
</script>

{% endblock %}